{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row text-center">
        <h3>HÓA ĐƠN NHẬP</h3>
    </div>
    <p><strong>HÓA ĐƠN</strong></p>
    <div class="row">
        <table class="table table-sm table-borderless fixed-table">
            <tr>
                <td width="100px">Mã hóa đơn</td>
                <td width="150px"><input type="text" class="form-control"></td>
                <td width="100px">Ngày nhập</td>
                <td width="150px"><input type="date" class="form-control"></td>
                <td width="120px">Nhà cung cấp</td>
                <td><select id="select_nha_cung_cap" class="form-select"></select></td>
                <td width="120px">Tổng tiền (VAT)</td>
                <td width="150px"><input type="number" class="form-control"></td>
            </tr>
            <tr>
                <td>Lý do nhập</td>
                <td colspan="3"><input type="text" class="form-control"></td>
            </tr>
        </table>
        <div class="d-flex flex-row mb-2">
            <button class="btn btn-sm func-btn btn-secondary">Xóa trắng</button>
            <button class="btn btn-sm func-btn btn-primary">Thêm</button>
            <button class="btn btn-sm func-btn btn-success">Sửa</button>
            <button class="btn btn-sm func-btn btn-danger">Xóa</button>
        </div>
        <div style="max-height: 300px; min-height: 100px; overflow: auto">
            <table class="table table-sm table-bordered table-hover">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Mã HĐ</th>
                        <th>Nhà cung cấp</th>
                        <th>Tổng tiền (VAT)</th>
                        <th>Ngày nhập HĐ</th>
                        <th>Lý do nhập</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="selected-row">
                        <td>1</td>
                        <td>HĐN0001</td>
                        <td>Công ty TNHH Dược phẩm Imexpharm</td>
                        <td>2.000.000.000</td>
                        <td>2023-12-24</td>
                        <td>Nhập thuốc mới</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-end mb-2" style="margin-top: 2px">
            <input type="radio" name="time" style="margin-right: 5px">Tất cả
            <input type="radio" name="time" style="margin-right: 5px; margin-left: 10px">Trong tháng
            <input type="month" name="" style="margin-left: 10px" value="2023-12">
        </div>
        <hr>
        <p><strong>CHI TIẾT HÓA ĐƠN</strong></p>
        <div class="d-flex flex-row">
            <p style="margin-right: 10px">Nhóm sản phẩm</p>
            <select id="select_nhom_san_pham" style="width: 200px" class="form-select" onchange="select_san_pham(this)"></select>
        </div>
<!--        Sản phẩm là Thuốc-->
        <div id="san_pham_thuoc" style="display: none; border: 1px solid gray; padding-top: 10px;">
            <table class="table table-sm table-borderless fixed-table">
                <tr>
                    <td>Tên sản phẩm</td>
                    <td><select id="select_thuoc" class="form-select"></select></td>
                    <td>Số lô</td>
                    <td><input type="text" class="form-control"></td>
                    <td>Đơn giá</td>
                    <td><input type="number" name="" id="don_gia" class="form-control"></td>
                    <td>VAT</td>
                    <td><select name="" id="select_vat" class="form-select">
                        <option value="0">0%</option>
                        <option value="5">5%</option>
                        <option value="8">8%</option>
                        <option value="10">10%</option>
                        <option value="12">12%</option>
                    </select></td>
                </tr>
                <tr>
                    <td>Đơn giá (VAT)</td>
                    <td><input type="number" name="" id="don_gia_vat" class="form-control" disabled></td>
                    <td>Số lượng nhập</td>
                    <td><input type="number" name="" id="so_luong" class="form-control"></td>
                    <td>Thành tiền</td>
                    <td><input type="number" name="" id="thanh_tien" class="form-control" disabled></td>
                    <td>Đơn giá bán</td>
                    <td>+ <input type="number" style="width: 30px" id="tang_gia_ban"> % =
                        <input type="number" style="width: 75px" id="don_gia_ban"></td>
                </tr>
                <tr>
                    <td>Đơn vị tính</td>
                    <td><input type="text" id="don_vi_tinh" class="form-control" disabled></td>
                    <td>Hạn sử dụng</td>
                    <td><input type="text" id="han_su_dung" class="form-control" disabled></td>
                    <td>Nhà cung cấp</td>
                    <td><input type="text" id="nha_cung_cap" class="form-control" disabled></td>
                    <td>Nhà sản xuất</td>
                    <td><input type="text" id="nha_san_xuat" class="form-control" disabled></td>
                </tr>
                <tr>
                    <td>Nước sản xuất</td>
                    <td><input type="text" id="nuoc_san_xuat" class="form-control" disabled></td>
                    <td>Nhóm dược lý</td>
                    <td><input type="text" id="nhom_duoc_ly" class="form-control" disabled></td>
                    <td>Ghi chú</td>
                    <td colspan="3"><input type="text" id="note" class="form-control"></td>
                </tr>
            </table>
        </div>
        <div id="san_pham_khac_thuoc">

        </div>
    </div>
    <div class="d-flex flex-row mb-2 mt-2">
        <button class="btn btn-sm func-btn btn-secondary">Xóa trắng</button>
        <button class="btn btn-sm func-btn btn-primary">Thêm</button>
        <button class="btn btn-sm func-btn btn-success">Sửa</button>
        <button class="btn btn-sm func-btn btn-danger">Xóa</button>
    </div>
    <div>
        <table class="table table-sm table-bordered table-hover">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên sản phẩm</th>
                    <th>Số lô</th>
                    <th>Đơn giá</th>
                    <th>VAT</th>
                    <th>Đơn giá (VAT)</th>
                    <th>Số lượng nhập</th>
                    <th>Thành tiền</th>
                    <th>Đơn giá bán</th>
                    <th>Đơn vị tính</th>
                    <th>Hạn sử dụng</th>
                    <th>Nhà cung cấp</th>
                    <th>Nhà sản xuất</th>
                    <th>Nước sản xuất</th>
                    <th>Nhóm dược lý</th>
                    <th>Ghi chú</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<script src="/static/danhmuc/hoa_don_nhap.js"></script>
{% endblock %}